@keyframes blink { 
   50% { border-color: #ffffff; } 
}

body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 100%;
	/*background: #66A3FF;*/
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
	  
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */

* html .ui-autocomplete {
	   height: 100px;
}

.navbar{
/*	position: fixed;	*/
	top: 0;
}

.navbar-inner{
/*	position: fixed;	*/
	min-height: 30px;
	max-height: 40px;
/*	background: #d14836;	*/
	border-bottom: 3px solid black;
}

.navbar-container{
	width: 100%;
}

.navbar .brand{
/*	margin-left: 800px;	*/
}

#nutri-ninja-banner{
	margin-left:auto;
}

#nutri-ninja-logo{
	float: right;
}

.personal-details span{
	font-size: 130%;
	vertical-align: top;
}

#container{
	width: 100%;
/*	height: 500px;		*/
	margin: 0px auto;
/*	margin-top: 100px;	*/
}

.personal-details{
	width: 99%;
	height: 150px;
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border: 2px solid #eeeeee;
	border-radius: 8px;
	background: #DEDEDE;	
}

.personal-details img{
	vertical-align: middle;
	border: 3px solid #fff;
}

.ui-widget-content{
	float:left;
	/*width:400px;*/
	border: 1px dashed #333;
	background: #F5F5F5 !important;
}

#ailments-widget{
	background: #FFF5EB !important;	
}

#ailments-list{
	-webkit-padding-start: 5%;
	-moz-padding-start: 5%;
}

#ailments-list li {
	line-height: 1em;
}

#nutrients-widget{
	left: 10px;
}

#nutrients-list{
	-webkit-padding-start: 10%;
	-moz-padding-start: 10%;
}

#nutrients-list li {
	line-height: 1em;
}

#categories-widget{
	left: 20px;
	background: #FFFFC2 !important;	
}

#categories-list{
	-webkit-padding-start: 5%;
	-moz-padding-start: 5%;
}

#categories-list li {
	line-height: 1em;
}

#grocery-list-widget{
	left: 30px;
	background: #CCFFFF !important;	
}

#grocery-list{
	-webkit-padding-start: 5%;
	-moz-padding-start: 5%;
}

#grocery-list li {
	line-height: 1em;
}

.draggable { 
	width: 23% !important;
	height: 400px;
	padding: 0.5em;
}

.sortable { 
	list-style-type: none; 
	margin: 0; 
	padding-top: 30px; 
	width: 60%; 
}

.sortable li {
	width: 110%; 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 2.5em; 
	font-size: 1em; 
	height: 18px; 
	border-radius: 8px;
	/* background: #CCFF99; */
}

.sortable li span { 
	position: absolute; 
	margin-left: -1.3em; 
}

.round {
    width: 50%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
}

.traffic-light{
	float:right;
	height: 22px;
}

.selection-feedback{
	float: left;
	padding-top: 6px;
	margin-left: -25px;
	height: 22px;
}

.selected{
	border : 2px solid #4D4D94;
}

#categories-widget { width: 305px; height: 400px; padding: 0.5em; }
#categories-widget h3 { text-align: center; margin: 0; }

#grocery-list-widget { width: 305px; height: 400px; padding: 0.5em; }
#grocery-list-widget h3 { text-align: center; margin: 0; }

.add-category{
	float:right;
}

.print-grocery-list{
	position: absolute;
	bottom: 5%;
	left: 45%;
}

.print-category{
	font-weight: bold;
	font-size: 1.5em;
}



/*.autocomplete-widget{
	margin: 0px auto;
    width: 400px;
    padding: 20px;
    background-color: #eee;
    border: 1px dashed #333;
}*/
